.bz-zone-light-red{
    background-color: rgba(247, 140, 140, 0.863);
}
.btn-bz-danger{
    background-color: rgb(238, 107, 179);
    color: white;
}
.nav-item{
    list-style-type: none;
    padding:5px;
}
.nav-item a{
    text-decoration: none;
    color:white;
   
}